@import 'variables';
@import 'reset';

/*Устанавливаем шиирину контейнера*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

// header

.header {
    display: flex;
    justify-content: space-between;
    padding: 22px 24px 18px;
    background-color: #ffffff;
    align-items: center;

    &__cart {
        display: flex;
        align-items: center;
        gap: 25px;
        z-index: 5;

        & a {
            font-family: $MainFont;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: $MainColor;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;
            z-index: inherit;

            &:hover {
                border-bottom: 1px solid $MainColor;
            }
        }
    }

    &__logo {
        z-index: 5;
    }

    &__burger {
        display: none;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 5;
        cursor: pointer;

        span {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #222;
            transition: 0.2s;
            border-radius: 5px;

            &:first-child {
                top: 0;

            }

            &:last-child {
                top: auto;
                bottom: 0;
            }
        }

        &.active {
            span {
                transform: scale(0);

                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }

                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }
}

.nav {
    &__list {
        display: flex;
        gap: 50px;
    }

    &__item {
        & a {
            font-family: $MainFont;
            font-size: 14px;
            font-weight: 400;
            color: $MainColor;
            text-transform: uppercase;

            &:hover {
                border-bottom: 1px solid $MainColor;
            }
        }
    }

}

/*hero*/

.hero {
    background-color: #F2AE4D;

    .container {
        display: flex;
        padding: 165px 15px 205px;
        justify-content: space-between;
    }

    &__img {
        top: -68px;

        @include breakpoint (lg) {
            display: none;
        }
    }

    &__text {
        margin-left: 120px;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;

        @include breakpoint (lg) {
            margin: 0 auto;
            flex: 0 0 100%;
        }
    }

    &__title {
        font-family: $MainFont;
        font-size: 48px;
        font-weight: 400;
        line-height: 56px;
        color: $MainColor;
    }

    &__description {
        font-family: $MainFont;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: $MainColor;
        max-width: 277px;
        margin: 33px 0 33px 0;
    }

    &__button a {
        font-family: $MainFont;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.9600000381469727px;
        color: #ffffff;
        background-color: #3D5675;
        text-transform: uppercase;
        padding: 19px 29px;
        border-radius: 44px;
    }
}

.brands {
    padding: 20px 0;
    background-color: #ffffff;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 0px auto;
    }

    &__text {
        font-family: $MainFont;
        font-size: 15px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.6000000238418579px;
        color: #A1A1A1;
        max-width: 67px;
    }
}

//products

.products {
    background-color: #EEEEEE;
    padding: 57px 0 50px 0;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint (md) {
            flex-wrap: wrap;
        }

        &-text {
            font-family: $MainFont;
            font-size: 32px;
            font-weight: 400;
            color: $MainColor;

            @include breakpoint (md) {
                padding-bottom: 15px;
            }
        }

        &-button {
            font-family: $MainFont;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1.9600000381469727px;
            color: #ffffff;
            background-color: #3D5675;
            padding: 13px 25px;
            border-radius: 44px;
            text-transform: uppercase;
        }
    }

    &__body {
        margin: 57px auto 46px;
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
        justify-content: center;
    }

    &__item {
        background-color: #ffffff;
        padding: 3px 25px;
        flex: 0 0 32.33%;

        @include breakpoint (lg) {
            flex: 0 0 48.49%;
            text-align: center;
        }

        @include breakpoint (sm) {
            flex: 0 0 100%;
        }

        &-title {
            font-family: $MainFont;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.36000001430511475px;
            color: $MainColor;
            padding-top: 24px;

            @include breakpoint (lg) {
                text-align: start;
            }
        }

        &-description {
            display: flex;
            justify-content: space-between;

            @include breakpoint (lg) {
                text-align: start;
            }
        }

        &-subtitle,
        &-price {
            font-family: $MainFont;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: #777777;
        }

        &-subtitle {
            max-width: 209px;
            padding-right: 10px;

            @include breakpoint (lg) {
                max-width: 100%;
            }
        }

        &-price {
            max-width: 80px;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;

        &-text {
            font-family: $MainFont;
            font-size: 15px;
            font-weight: 700;
            color: #A1A1A1;
        }

        &-button {
            font-family: $MainFont;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1.9600000381469727px;
            color: #3D5675;
            padding: 13px 25px;
            background-color: #ffffff;
            border-radius: 44px;
            text-transform: uppercase;
        }
    }
}

//custom

.custom {
    background-color: #72BDA3;
    padding: 88px 0;
    text-align: center;

    &__title {
        font-family: $MainFont;
        font-size: 32px;
        font-weight: 400;
        color: $MainColor;
    }

    &__body {
        margin: 46px 0 75px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0px auto;

        &-title {
            font-family: $MainFont;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.36000001430511475px;
            color: $MainColor;
        }

        &-description {
            color: #3D5675;
            font-family: $MainFont;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            max-width: 197px;
            margin: 0 auto;
        }
    }

    &__button {
        font-family: $MainFont;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.9600000381469727px;
        color: #ffffff;
        background-color: #3D5675;
        padding: 13px 25px;
        border-radius: 44px;
        text-transform: uppercase;
    }
}

//advantage

.advantage {
    padding: 87px 0 141px 0;

    &__title {
        font-family: $MainFont;
        font-size: 32px;
        font-weight: 700;
        color: $MainColor;
        margin-bottom: 82px;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        @include breakpoint (sm) {
            margin: 0px auto;
        }

        &-title {
            font-family: $MainFont;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.36000001430511475px;
            color: $MainColor;
            margin: 54px 0 12px 0;
        }

        &-description {
            font-family: $MainFont;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: #A1A1A1;
            max-width: 246px;
        }
    }

    &__item img {
        margin: 0 auto;
    }
}

//questions

.questions {
    background-color: #FFCA3A;
    padding: 110px 0 90px 0;

    &__body {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0px auto;
        &:first-child {
            @include breakpoint (md) {
                margin-bottom: 50px;
            }
        }

        &:nth-child(2) {
            width: 1px;
            background-color: rgba(161, 161, 161, 0.4);
            @include breakpoint (md) {
                display: none;
            }
        }
    }

    &__title {
        font-family: $MainFont;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        color: $MainColor;
        margin-top: 24px;
    }

    &__desription {
        font-family: $MainFont;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: #3D5675;
        max-width: 350px;
        margin: 14px auto 23px;
    }

    &__button {
        font-family: $MainFont;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 1.9600000381469727px;
        color: #3D5675;
        background-color: #ffffff;
        border-radius: 44px;
        padding: 13px 25px;
        text-transform: uppercase;
    }
}

//reviews

.reviews {
    padding: 88px 57px;

    &__title {
        font-family: $MainFont;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
        color: $MainColor;
        margin-bottom: 59px;
    }

    &__brands {
        display: flex;
        background-color: #ffffff;
        padding: 100px 0 45px 0;
        justify-content: space-around;

        @include breakpoint (flg) {
            padding-bottom: 0;
        }
    }

    &__body {
        display: flex;
        background-color: #ffffff;
        justify-content: space-between;
        padding-top: 55px;

        @include breakpoint (flg) {
            flex-direction: column;
            align-items: center;

            &:nth-child(2n) {
                flex-direction: column-reverse;
            }

            &:last-child {
                padding-bottom: 50px;
            }
        }
    }

    &__item-img {
        display: flex;
    }

    &__item {
        margin: 0 auto;
    }

    &__grade {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    &__grade-text {
        font-family: $MainFont;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.36000001430511475px;
        color: $MainColor;
        padding-left: 4px;
        margin-bottom: 4px;
    }

    &__item-description {
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: $MainColor;
        width: 395px;
        margin: 63px auto 10px;
    }

    &__item-people {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item-people-text {
        padding: 5px 0 5px 20px;
    }

    &__item-people-name {
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: $MainColor;
    }

    &__item-people-proffesion {
        font-family: Lato;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #A1A1A1;
    }

    &__item-people-btn a {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1.9600000381469727px;
        color: #3D5675;
        border-radius: 44px;
        padding: 13px 25px;
        background-color: #F2F2F2;
        text-transform: uppercase;
        margin-left: 18px;
    }
}

//get

.get {
    padding: 120px 0 136px 0;

    &__title {
        font-family: $MainFont;
        font-size: 31px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        color: $MainColor;
    }

    &__body {
        display: flex;
        margin-top: 55px;
        gap: 11px;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__button {
        font-family: $MainFont;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.9600000381469727px;
        color: #ffffff;
        background-color: #3D5675;
        padding: 13px 25px;
        border-radius: 44px;
        text-transform: uppercase;

        &-light {
            background-color: #ffffff;
            color: #3D5675;
        }
    }
}

//footer    

.footer {
    padding: 60px 0;
    background-color: #F2F3F4;

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        padding-bottom: 17px;
        font-family: $MainFont;
        font-size: 15px;
        font-weight: 400;
        color: #3D5675;
    }

    &__item a {
        font-family: $MainFont;
        font-size: 15px;
        font-weight: 400;
        color: #3D5675;
    }

    &__links a {
        padding-right: 5.5px;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        background-color: #ffffff;
        border: none;
        outline: none;
        padding: 9px 0px 9px 18px;
        margin-bottom: 12px;
        border-radius: 34px;
        max-width: 100%;

        &::placeholder {
            color: #3D5675;
            opacity: .4;
            font-family: Roboto;
            font-size: 15px;
            font-style: italic;
        }
    }

    &__button {
        font-family: $MainFont;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.9600000381469727px;
        color: #ffffff;
        background-color: #3D5675;
        padding: 13px 25px;
        border-radius: 44px;
        border: none;
        cursor: pointer;
    }
}


//media

@media (max-width: 840px) {
    .header__burger {
        display: block;
    }

    .nav {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        display: flex;
        transition: 0.2s;
        overflow: auto;
    }

    .nav.active {
        left: 0;
    }

    .nav__list {
        flex-direction: column;
        gap: 0px;
        margin: auto;
        text-align: center;
    }

    .nav__item {
        a {
            font-size: 27px;
            line-height: 4;
        }
    }
}