@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

/*Устанавливаем шиирину контейнера*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 21px 24px;
}
.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.header__cart a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #011F3A;
  text-transform: uppercase;
}
.header__cart a:hover {
  border-bottom: 1px solid #011F3A;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav__item a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #011F3A;
  text-transform: uppercase;
}
.nav__item a:hover {
  border-bottom: 1px solid #011F3A;
}

/*hero*/
.hero {
  background-color: #F2AE4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 165px 0 205px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__img {
  top: -68px;
}
.hero__text {
  margin-left: 120px;
  max-width: 480px;
}
.hero__title {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #011F3A;
}
.hero__description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #011F3A;
  max-width: 277px;
  margin: 33px 0 33px 0;
}
.hero__button a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.9600000381px;
  color: #ffffff;
  background-color: #3D5675;
  text-transform: uppercase;
  padding: 19px 29px;
  border-radius: 44px;
}

.brands {
  padding: 20px 0;
}
.brands .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.brands__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brands__text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.6000000238px;
  color: #A1A1A1;
  max-width: 67px;
}