@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #EEEEEE;
}
body.lock {
  overflow: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

/*Устанавливаем шиирину контейнера*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 24px 18px;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  z-index: 5;
}
.header__cart a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #011F3A;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  z-index: inherit;
}
.header__cart a:hover {
  border-bottom: 1px solid #011F3A;
}
.header__logo {
  z-index: 5;
}
.header__burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.header__burger span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
}
.header__burger span:first-child {
  top: 0;
}
.header__burger span:last-child {
  top: auto;
  bottom: 0;
}
.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header__burger.active span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header__burger.active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav__item a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #011F3A;
  text-transform: uppercase;
}
.nav__item a:hover {
  border-bottom: 1px solid #011F3A;
}

/*hero*/
.hero {
  background-color: #F2AE4D;
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 165px 15px 205px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__img {
  top: -68px;
}
@media (max-width: 993px) {
  .hero__img {
    display: none;
  }
}
.hero__text {
  margin-left: 120px;
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (max-width: 993px) {
  .hero__text {
    margin: 0 auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.hero__title {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #011F3A;
}
.hero__description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #011F3A;
  max-width: 277px;
  margin: 33px 0 33px 0;
}
.hero__button a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.9600000381px;
  color: #ffffff;
  background-color: #3D5675;
  text-transform: uppercase;
  padding: 19px 29px;
  border-radius: 44px;
}

.brands {
  padding: 20px 0;
  background-color: #ffffff;
}
.brands .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.brands__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}
.brands__text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.6000000238px;
  color: #A1A1A1;
  max-width: 67px;
}

.products {
  background-color: #EEEEEE;
  padding: 57px 0 50px 0;
}
.products__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 769px) {
  .products__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.products__header-text {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  color: #011F3A;
}
@media (max-width: 769px) {
  .products__header-text {
    padding-bottom: 15px;
  }
}
.products__header-button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.9600000381px;
  color: #ffffff;
  background-color: #3D5675;
  padding: 13px 25px;
  border-radius: 44px;
  text-transform: uppercase;
}
.products__body {
  margin: 57px auto 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products__item {
  background-color: #ffffff;
  padding: 3px 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.33%;
          flex: 0 0 32.33%;
}
@media (max-width: 993px) {
  .products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.49%;
            flex: 0 0 48.49%;
    text-align: center;
  }
}
@media (max-width: 577px) {
  .products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.products__item-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.3600000143px;
  color: #011F3A;
  padding-top: 24px;
}
@media (max-width: 993px) {
  .products__item-title {
    text-align: start;
  }
}
.products__item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 993px) {
  .products__item-description {
    text-align: start;
  }
}
.products__item-subtitle, .products__item-price {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #777777;
}
.products__item-subtitle {
  max-width: 209px;
  padding-right: 10px;
}
@media (max-width: 993px) {
  .products__item-subtitle {
    max-width: 100%;
  }
}
.products__item-price {
  max-width: 80px;
}
.products__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.products__footer-text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  color: #A1A1A1;
}
.products__footer-button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.9600000381px;
  color: #3D5675;
  padding: 13px 25px;
  background-color: #ffffff;
  border-radius: 44px;
  text-transform: uppercase;
}

.custom {
  background-color: #72BDA3;
  padding: 88px 0;
  text-align: center;
}
.custom__title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  color: #011F3A;
}
.custom__body {
  margin: 46px 0 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.custom__item {
  margin: 0px auto;
}
.custom__item-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.3600000143px;
  color: #011F3A;
}
.custom__item-description {
  color: #3D5675;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  max-width: 197px;
  margin: 0 auto;
}
.custom__button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.9600000381px;
  color: #ffffff;
  background-color: #3D5675;
  padding: 13px 25px;
  border-radius: 44px;
  text-transform: uppercase;
}

.advantage {
  padding: 87px 0 141px 0;
}
.advantage__title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  color: #011F3A;
  margin-bottom: 82px;
}
.advantage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 577px) {
  .advantage__item {
    margin: 0px auto;
  }
}
.advantage__item-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.3600000143px;
  color: #011F3A;
  margin: 54px 0 12px 0;
}
.advantage__item-description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #A1A1A1;
  max-width: 246px;
}
.advantage__item img {
  margin: 0 auto;
}

.questions {
  background-color: #FFCA3A;
  padding: 110px 0 90px 0;
}
.questions__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.questions__item {
  margin: 0px auto;
}
@media (max-width: 769px) {
  .questions__item:first-child {
    margin-bottom: 50px;
  }
}
.questions__item:nth-child(2) {
  width: 1px;
  background-color: rgba(161, 161, 161, 0.4);
}
@media (max-width: 769px) {
  .questions__item:nth-child(2) {
    display: none;
  }
}
.questions__title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #011F3A;
  margin-top: 24px;
}
.questions__desription {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #3D5675;
  max-width: 350px;
  margin: 14px auto 23px;
}
.questions__button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.9600000381px;
  color: #3D5675;
  background-color: #ffffff;
  border-radius: 44px;
  padding: 13px 25px;
  text-transform: uppercase;
}

.reviews {
  padding: 88px 57px;
}
.reviews__title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  color: #011F3A;
  margin-bottom: 59px;
}
.reviews__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  padding: 100px 0 45px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 1141px) {
  .reviews__brands {
    padding-bottom: 0;
  }
}
.reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
}
@media (max-width: 1141px) {
  .reviews__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews__body:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .reviews__body:last-child {
    padding-bottom: 50px;
  }
}
.reviews__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__item {
  margin: 0 auto;
}
.reviews__grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.reviews__grade-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.3600000143px;
  color: #011F3A;
  padding-left: 4px;
  margin-bottom: 4px;
}
.reviews__item-description {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #011F3A;
  width: 395px;
  margin: 63px auto 10px;
}
.reviews__item-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__item-people-text {
  padding: 5px 0 5px 20px;
}
.reviews__item-people-name {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #011F3A;
}
.reviews__item-people-proffesion {
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #A1A1A1;
}
.reviews__item-people-btn a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1.9600000381px;
  color: #3D5675;
  border-radius: 44px;
  padding: 13px 25px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  margin-left: 18px;
}

.get {
  padding: 120px 0 136px 0;
}
.get__title {
  font-family: Roboto;
  font-size: 31px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #011F3A;
}
.get__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  gap: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.get__button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.9600000381px;
  color: #ffffff;
  background-color: #3D5675;
  padding: 13px 25px;
  border-radius: 44px;
  text-transform: uppercase;
}
.get__button-light {
  background-color: #ffffff;
  color: #3D5675;
}

.footer {
  padding: 60px 0;
  background-color: #F2F3F4;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__item {
  padding-bottom: 17px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  color: #3D5675;
}
.footer__item a {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  color: #3D5675;
}
.footer__links a {
  padding-right: 5.5px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__input {
  background-color: #ffffff;
  border: none;
  outline: none;
  padding: 9px 0px 9px 18px;
  margin-bottom: 12px;
  border-radius: 34px;
  max-width: 100%;
}
.footer__input::-webkit-input-placeholder {
  color: #3D5675;
  opacity: 0.4;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
}
.footer__input::-moz-placeholder {
  color: #3D5675;
  opacity: 0.4;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
}
.footer__input:-ms-input-placeholder {
  color: #3D5675;
  opacity: 0.4;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
}
.footer__input::-ms-input-placeholder {
  color: #3D5675;
  opacity: 0.4;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
}
.footer__input::placeholder {
  color: #3D5675;
  opacity: 0.4;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
}
.footer__button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.9600000381px;
  color: #ffffff;
  background-color: #3D5675;
  padding: 13px 25px;
  border-radius: 44px;
  border: none;
  cursor: pointer;
}

@media (max-width: 840px) {
  .header__burger {
    display: block;
  }

  .nav {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    overflow: auto;
  }

  .nav.active {
    left: 0;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    margin: auto;
    text-align: center;
  }

  .nav__item a {
    font-size: 27px;
    line-height: 4;
  }
}